.checking{
    text-align: left;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-color: rgb(228, 228, 228);
}