.footer-section{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.footer-title{
    font-size: small;
    color: rgb(14, 37, 65);
    font-weight: bold;
    margin-bottom: 15px;
}

Button{
    margin-right: 6px;
    margin-left: 4px;
}